#background-image {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}

#main {
    padding-top: 50px;
}

.border {
    border-style: solid;
}

.quote {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color:antiquewhite;
    font-family: monospace;
}

.text-label {
    padding-top: 5px;
    font-family: monospace;
}

.center {
    text-align: center;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

#qrcode-container{    
    border:solid;
    margin: auto;
    width: 298px;
    height: 494px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}